<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>
  <body>
    <form action="/users/home" method="post">
      <header id="main_header">
        <h1 class="h_logo">
          <a href = "http://localhost:3000/users/home"><img src="/images/home.png" width="150" />
        </h1>
        <div class="login_menu">
          <span><a href="http://localhost:3000/users/login">로그인</a></span>
          <span><a href="http://localhost:3000/users/sign_up">회원가입</a></span>
        </div>
      </header>

    </form>
  </body>
</html>
