<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>로그인</title>
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
  <form action="/users/login" method="post">
    <!-- 상단 로고 -->
    <header id="main_header">
      <h1 class="h_logo">
        <a href = "http://localhost:3000/users/home"><img src="/images/home.png" width="150" /><a>
        </h1>
      </header>

      <!-- 로그인 폼 -->
      <div id="container">
        <h2>회원 로그인</h2>
        <div class="content">
          <fieldset class="login_form">
            <legend>로그인</legend>

            <div class="id_area">
              <span class="input_box">
                <label for="id" id="label_id_area">아이디</label>
                <input type="text" id="id" name="userID" placeholder="  아이디">
              </span>
            </div>

            <div class="pw_area">
              <span class="input_box">
                <label for="pw" id="label_pw_area">비밀번호</label>
                <input type="password" id="pw" name="password" placeholder="  비밀번호">
              </span>
            </div>
            <input type="submit" title="로그인" value="로그인" class="btn_log">
            <input type="button" title="회원가입" value="회원가입" class="btn_sign" onclick="location.href= 'http://localhost:3000/users/sign_up'">
          </fieldset>
        </div>
      </div>

    </form>
  </body>
  </html>
