<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>로그인</title>
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
  <div class="login_form">
    <div class = "loginer">
    <h1>로그인</h1>
    <form action="/users/login" method="post">
<table>
        <tr>
          <td>아이디: </td>
          <td><input type="text" name="userID" placeholder="Username"></td>
        </tr>
        <tr>
          <td>비밀번호: </td>
          <td><input type="password" name="password" placeholder="Password"></td>
        </tr>
        <tr>
          <td><input type="submit" value="로그인"></td>
          <td><input type="button" value="회원가입"></td>
        </tr>
</table>
    </form>
    </div>
  </div>
</body>
</html>
